name: CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Unix CI script
        if: matrix.os != 'windows-latest'
        run: |
          chmod +x ./ci.sh
          ./ci.sh
        shell: bash

      - name: Run Windows CI script
        if: matrix.os == 'windows-latest'
        run: .\ci.bat
        shell: cmd